.slide{
    padding: 10px 10px;
}
.content{
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
}
.title{
    margin: 30px 0;
}
.card-brand {
    background-color: white;
    border-radius: 15px;
    padding: 10px 10px;
    border: 1px black solid;
    text-align: center;
}
.c_product{
    margin-top: 100px !important;
}
.ng-star-inserted {
    margin-bottom: 15px;
}