<div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>
            <p class="h5">Danh sách sản phẩm đã mua:</p>
          </th>
          <td mat-cell *matCellDef="let element"> 
            <div *ngFor="let image of element.product.image">
                <img src="{{image.url}}" alt="" class="image" *ngIf="image.type === 'main'">
              </div>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> {{element.product.price| number}} x {{element.quantity}} </td>
        </ng-container>
      
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> {{element.product.price*element.quantity | number}} VND</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <p class="h5 mt-5 mb-5">Thông tin chi tiết đơn hàng:</p>
    <div class="row mt-2 mb-3">
        <div class="h6 col-3">
            Mã đơn hàng: 
        </div>
        <div class="col-6">
            #{{order?.id}}
        </div>
    </div>
    <div class="row mt-2 mb-3">
        <div class="h6 col-3">
            Ngày đặt: 
        </div>
        <div class="col-6">
            {{order?.createdAt | date: 'dd/MM/yyyy'}}
        </div>
    </div>
    <div class="row mt-2 mb-3">
        <div class="h6 col-3">
            Trạng thái: 
        </div>
        <div class="col-6">
            <div class="d-flex" style="justify-content: space-between;">
                <div>
                    {{order?.status}}
                </div>
                <button mat-raised-button color="primary" (click)="openDialog(order?.status)">Chỉnh sửa</button>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-3">
        <div class="h6 col-3">
            Địa chỉ: 
        </div>
        <div class="col-6">
            {{order?.address.state}}, {{order?.address.city}}, {{order?.address.detail}}
        </div>
    </div>
    <div class="row mt-2 mb-3">
        <div class="h6 col-3">
            Loại thanh toán: 
        </div>
        <div class="col-6">
            Tiền mặt
        </div>
    </div>
    <div class="row mt-2 mb-3">
        <div class="h6 col-3">
            Ghi chú: 
        </div>
        <div class="col-6">
            {{order?.note}}
        </div>
    </div>
</div>
