<footer class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
      <div class="row gy-4 gx-5">
        <div class="col-lg-4 col-md-6">
          <h5 class="h1 text-white">Shop Phone</h5>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Cửa hàng</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="#">Cửa hàng</a></li>
            <li><a href="#">Thịnh hành</a></li>
            <li><a href="#">Phụ kiện</a></li>
            <li><a href="#">Giảm giá</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Cửa hàng</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="#">Liên hệ với chung tôi</a></li>
            <li><a href="#">Thanh toán</a></li>
            <li><a href="#">Giỏ hàng</a></li>
            <li><a href="#">Cửa hàng</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5 class="text-white mb-3">Gửi thư liên hệ</h5>
          <p class="small text-muted">Liên hệ với chúng tôi qua email</p>
          <form action="#">
            <div class="input-group mb-3">
              <input class="form-control" type="text" placeholder="Nội dung ..." aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-primary" id="button-addon2" type="button"><i class="bi bi-send-fill"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>